.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button {
    background: #F6F8FA;
    color: #0969DA;
    font-family: Verdana;
    font-size: 120%;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
}

.button:hover {
    background: #0969DA;
    color: #F6F8FA;
    font-family: Verdana;
    font-size: 120%;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
}

/*.button_old {
  background-color: #3700ff;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana;
  margin: 20px;
  cursor: pointer;
}*/

#OpenGraphsBTM{
  /*background-color: #00ff6a;*/
}

#OpenModelsPageBTM{
  /*background-color: #2e0202;*/
}


