<!DOCTYPE html>
<html>
<head>
    <title>Типы моделей</title>
</head>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<body>
    <div id="sidebar">
        <form action={{ url_for('about') }}>
            <button class="button">LSTM</button>
            <input type="hidden" name="model" value="LSTM"/>
        </form>
        <form action={{ url_for('about') }}>
            <button class="button">TCN</button>
            <input type="hidden" name="model" value="TCN"/>
        </form>
        <form action={{ url_for('about') }}>
            <button class="button">MLP</button>
            <input type="hidden" name="model" value="MLP"/>
        </form>
        <form action={{ url_for('main_window') }}>
            <button class="button" id="back-button">Вернуться назад</button>
        </form>
    </div>
</body>
</html>
