<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
    <div id="sidebar">
        <form action={{ url_for('about') }}>
            <button class="button" id="OpenModelsPageBTM">Модели нейронных сетей</button>
        </form>
        <form action={{ url_for('data') }}>
            <button class="button" id="OpenGraphsBTM">Открыть страницу визуализации данных</button>
        </form>
    </div>
</body>
</html>
